<aside class="col-lg-3 col-sm-3 col-md-2 sidebar">
  <% if user_signed_in?%>
      <h1 class="page-header"><%= current_user.name %></h1>
  <% else %>
      <h1 class="page-header">Show Form</h1>
      <%= render 'devise/sessions/form' %>
  <% end %>
</aside>

<div class="col-lg-9 col-sm-9 col-md-10">
  <h1 class="page-header">Options</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= link_to new_ticket_path, :class => 'thumbnail' do %>
        <%= image_tag "image.jpg", size: "200x200" %>Submit Ticket
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= link_to new_ticket_path, :class => 'thumbnail' do %>
        <%= image_tag "image.jpg", size: "200x200" %>News
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= link_to new_ticket_path, :class => 'thumbnail' do %>
        <%= image_tag "image.jpg", size: "200x200" %>FAQ
      <% end %>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= link_to new_ticket_path, :class => 'thumbnail' do %>
        <%= image_tag "image.jpg", size: "200x200" %>Knowledgebase
      <% end %>
    </div>
  </div>
  <h1 class="page-header">Some information</h1>
  <p>Lorem ipsum dolor sit amet, ut admodum constituam sit, ad aeque petentium posidonium sit, choro sadipscing has ad. Aeterno ornatus luptatum ius ea. Delenit laboramus cu sed. Ad eos mentitum intellegat. Alii choro utinam mea no, usu adhuc persius ne. Suavitate imperdiet sadipscing eam eu, sumo suscipiantur sed ex.</p>
  <p>Altera definiebas intellegam vis ad, posse minim meliore qui in. Agam congue impedit ad cum, tation menandri facilisis id eum. Purto causae dolorum id per. Id mei impetus urbanitas quaerendum, in assum fierent incorrupte cum, ei mediocrem definitiones sed.</p>

</div>





