<h1>Listing tickets</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Company</th>
      <th>Status</th>
      <th>Assigned to</th>
      <th>Contact name</th>
      <th>User</th>
      <th>Product</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.company %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.assigned_to %></td>
        <td><%= ticket.contact %></td>
        <td><%= ticket.user_id %></td>
        <td><%= ticket.product_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
