<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Descriptionticket:</strong>
  <%= @ticket.descriptionticket %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>

<p>
  <strong>Company:</strong>
  <%= @ticket.company %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @ticket.assignedto %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @ticket.contactname %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
