<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>

<p>
  <strong>Company:</strong>
  <%= @ticket.company %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @ticket.assigned_to %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @ticket.contact %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ticket.product.name %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
